<%- include('partials/head') %>

<form action="/tacos" method="get">
    <input type="text" name="meat">
    <input type="number" name="qty">
    <button>Submit</button>
</form>

<%- include('partials/footer') %>